.popupheader{
  grid-column-start: 1;
  grid-column-end: 3;
  color:green;
  text-align: center;
  }

  .popupcontainer{
    display:grid;
    grid-template-columns:auto auto;
    grid-gap:2px 50px;
  }
  .popuprow{
  grid-column-start: 1;
  grid-column-end: 3;
  }

  .scrollablediv{
    height:100px;

    overflow-y: auto;
    overflow-x:hidden;

  }
.scrollablediv::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: yellow;
}

.scrollablediv::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.scrollablediv::-webkit-scrollbar-thumb {
	background-color:green;
}

.popupfont{
   font: 12px Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  background-color: #222222;
  padding: 10px;
  background-image: url(https://images.unsplash.com/photo-1572877183903-f6f33bbfa7c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size:cover;
} 

.maintext{
  color:white;
  font-size:30px;
  position:relative;
  } 


.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    top:200px; opacity:0;
  }
  100% {
    top:0px;opacity:1;
  }
}
